.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app-container {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}
.sidebar {
  width: 240px;
  background: #2c3e50;
  /* color: white; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.sidebar h2 {
  margin-bottom: 1rem;
}
.sidebar nav a {
  color: #ecf0f1;
  text-decoration: none;
  margin: 0.5rem 0;
  display: block;
}
.sidebar nav a.active {
  font-weight: bold;
  color: #1abc9c;
}
.content {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  background: #ecf0f1;
}
